<%- include('./templates/base_head') %>

<turbo-frame id="messages_list" src="/messages">
    <p>This message will be replaced by the response from /messages.</p>
</turbo-frame>


<%- include('./templates/base_footer') %>