<turbo-frame id="new_message" target="_top">
    <form action="/messages/" method="POST">
        <input name="content" type="text" />
        <button type="submit">Send</button>
    </form>
</turbo-frame>